name: Push to Docker Hub

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Скачать код
      - uses: actions/checkout@v4

      # 2. Логин в Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 3. Собрать и запушить образ
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/SmartLynxs_bot:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/SmartLynxs_bot:${{ github.sha }}
# Передаём токен как ARG
          build-args: |
            API_TOKEN=${{ secrets.API_TOKEN }}
